<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeBarre.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D4D2CCB1E7C2508005214DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4D2CDF1E7C2509005214DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4D2CEA1E7C2509005214DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
